<div class="card shadow-effect">
  <div class="card-body">
    <div class="text-center mt-3 mb-5">
      <h3>SUBSCRIPTION FORM</h3>
      <p class="mx-auto subs-text">
        Lorem ipsum dolor sit amet. Aut similique debitis vel magnam nesciunt
        est aliquam nemo non laborum nobis et aspernatur corrupti. Non magni
        facilis sed ratione quis 33 ipsam placeat est corrupti dolorem.
      </p>

      <form action="" class="row g-3 mb-5 mt-5">
        <div class="col-md-5">
          <input
            type="text"
            class="form-control shadow"
            placeholder="Your name"
          />
        </div>

        <div class="col-md-5">
          <input
            type="email"
            class="form-control shadow"
            placeholder="Email andress"
          />
        </div>

        <div class="col-md-2">
          <button type="button" class="btn btn-primary btn-block btn-sub w-100">
            SUBSCRIBE
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
