<div class="card">
    <img src="https://images.pexels.com/photos/1174932/pexels-photo-1174932.jpeg?cs=srgb&dl=pexels-alexander-grey-1174932.jpg&fm=jpg" alt="card-img-top">

    <div class="card-body">
        <small class="bg-light text-danger text-center">Design</small>
        <small class="bg-light text-success text-center ml-3">Featured</small>
        <small class="bg-light text-info text-center">Views - 100,256</small>

        <h5 class="mt-1">HOW TO START A BLOG IN 2021 EDITED NEW CATEGORY</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>

        <small class="bg-light text-warning text-center ml-3">LAST UPDATED - SEP 20, 2020</small>
    </div>
</div>